@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Overlock:ital,wght@0,400;0,700;1,400&display=swap');


* {
    font-size: 20px;
    font-family: 'Overlock', cursive;
    --heading-pink: #f5a8fe;
    --text-color: #f8f6fd;
    color: var(--text-color);
}

body {
    width: 100%;
    height: 100%;
    background: hsla(229, 89%, 35%, 1);
    background: linear-gradient(145deg, hsla(179, 85%, 32%, 1) 0%, hsla(225, 89%, 47%, 1) 40%, hsla(229, 89%, 35%, 1) 100%);
    background: -moz-linear-gradient(145deg, hsla(179, 85%, 32%, 1) 0%, hsla(225, 89%, 47%, 1) 40%, hsla(229, 89%, 35%, 1) 100%);
    background: -webkit-linear-gradient(145deg, hsla(179, 85%, 32%, 1) 0%, hsla(225, 89%, 47%, 1) 40%, hsla(229, 89%, 35%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0A27A8", endColorstr="#0D41E1", GradientType=1 );
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    margin: 0.25em 0;
    padding: 0;
}

ul.nav-list {
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.25em 1.5%;
    padding: 0;
}

li.nav-item {
    display: inline;
    padding: 0.25em 2em;
    border: 1px solid var(--text-color);
}

li.nav-item a:hover {
    font-style: italic;
}

li.nav-item a:active {
    font-style: italic;
}

.active-page {
    font-weight: bold;
    font-style: italic;
}

li.nav-item a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-family: 'Mr Dafoe', cursive;
    color: var(--heading-pink);
    font-size: 4em;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin: 1rem;
    padding: 1rem;
}
